

#head1 {
    font-family: 'Caveat', cursive;
    color: #A38A00;

}

#p2 {
    font-family: 'Edu SA Beginner', cursive;
}


td {
    font-family: 'Edu SA Beginner', cursive;

}



body {
 background-color: #6600ff;
 color: white;
}






th {
    font-family: 'Edu SA Beginner', cursive;

}