{% extends "base.html" %}
{% block title %}freinds list{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 id="head1">All invited freinds list</h1>
      {% if all_freind == [] %}
        <h2>List of freinds empty</h2>
      {% else %}
        <table class="table table-dark table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Delete Freind</th>
            </tr>
          </thead>
          <tbody>
          {% for item in all_freind %}
            <tr>
              <th scope="row">{{ item['id'] }}</th>
              <td>{{ item['name'] }}</td>
              <td>{{ item['email'] }}</td>
              <td><a href="{{url_for('delete', id=item['id'])}}">Delete</a></td>

            </tr>
          {% endfor %}

          </tbody>
        </table>
        <div class="col">
          <a class="btn btn-info btn-lg mb-5" role="button" href="{{url_for('login')}}">Send</a>
        </div>

      {% endif %}
      <a href="{{url_for('home')}}" class="mt-5">return to home page</a>

    </div>
  </div>
</div>
{% endblock %}